{{ define "main" }}
<style>
    @media (max-width: 1200px) {
        .items__01 {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
        .itemAl_02 {
            padding-left: 0px !important;
        }
        .AL {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
    }
</style>
<div class="al-body-container">
    <section class="al-page-index">
        <div id="downloads" class="al-index-community-container">
            <div class="container al-py-lg">
                <h1 class="pb-2 text-center"></h1>
                <div class="Errata-container" style="display: flex; flex-direction: column; padding: 40px 20px;">
                    <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Get Your Certification CaseID</h2>
                    <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:60%">
                        <section>
                          <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">CaseID Process</h2>
                            <div class="contact-form-container">
                                <p><strong>Why using CaseID?</strong><hr>
                                  Welcome to the AlmaLinux OS Certification portal login section, where you can generate a unique CaseID for certifying hardware with AlmaLinux OS. This CaseID serves as a key identifier in all certification processes and is essential for the official documentation and communication regarding hardware certification.
                                  </p>
                                  <p><strong>Pre-requiste: AlmaLinux account</strong><hr>
                                  The CaseID not only streamlines the servicing of contact requests but is also mandatory for uploading certification results. To initiate the process, first, register an account at <a href="accounts.almalinux.org">accounts.almalinux.org</a> and log in. Navigate to settings/OTP to generate an OTP (One-Time Password) token and bind it with Authy for Two-Factor Authentication (2FA).
                                </p>
                                <p><strong>Generating CaseID</strong><hr>
                                  Once you have your OTP URL (which will be displayed when generating OTP token), use this generator below to create your CaseID. Alternatively, the Python CLI tooling is available for generating your CaseID.
                                  <p><strong>How to Use it?</strong><hr>
                                  With our portal forms or Python CLI tooling, managing interactions, such as uploading reports and adding additional messages to be recorded in our system is possible. This ensures a seamless and secure certification experience for your hardware with AlmaLinux OS.
                                </p>
                                <br><br>
                                <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">CaseID Generator</h2>
                                <form id="otpForm">
                                    <div class="mb-3">
                                        <label for="otp_url">OTP URL:</label><br>
                                        <input type="text" id="otp_url" name="otp_url" class="form-control" required><br>
                                    </div>
                                    <div class="mb-3">
                                        <label for="otp">OTP:</label><br>
                                        <input type="text" id="otp" name="otp" class="form-control" required><br>
                                    </div>
                                    <a href="#" class="btn btn-sm me-md-3  al-hero-cta-primary" id="copyButton" style="visibility:hidden; float:right; vertical-align: top;"> {{  "Copy to Clipboard" }} </a><hr>
                                    <div id="gen-caseid-result">
                                    <button type="submit" class="btn btn-primary">Submit</button></div>


                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    caseid_data = "";

    // Copy to clipboard functionality
    $("#copyButton").click(function() {
      if (navigator.clipboard && window.isSecureContext) {
            // Use the Clipboard API when available
            navigator.clipboard.writeText(caseid_data)
                .then(function() {
                    alert("CaseID: " + caseid_data + " copied to clipboard");
                })
                .catch(function(error) {
                    alert("Error copying to clipboard: " + error);
                });
        } else {
            // Fallback method for older browsers
            var tempInput = document.createElement("input");
            document.body.appendChild(tempInput);
            tempInput.value = caseid_data;
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            alert("CaseID: " + caseid_data + " copied to clipboard");
        }
    });


    $("#otpForm").submit(function(event) {
        event.preventDefault();



        var otp_url = $("#otp_url").val();
        var otp = $("#otp").val();

        jQuery.ajax({
            url: 'http://localhost:8000/auth?otp_url=' + otp_url + '&otp=' + otp,
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log("SUCCESS:", data);
                
                // Extracting CertCaseID from the response
                var caseID = data.CertCaseID.toUpperCase();
                caseid_data = caseID
                if (caseID) {
                    // Create the message with CaseID
                    var message = "<h4 style='color:white'><img src=/images/CERT_ICON.png width=10%> Please Write Down Your Unique CaseID: <big style='color:red'> " + caseID + "</big> . </h4>";

                    // Injecting the message into the "gen-caseid-result" div
                    $("#gen-caseid-result").html(message);

                    $("#copyButton").css("visibility", "visible");  
                }
            },
            error: function (xhr, status, error) {
                console.log("ERROR:", error);
            },
            data: JSON.stringify({ "otp_url": otp_url, "otp": otp })
        });
    });
</script>
{{ end }}
