<footer class="al-primary-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img src="/images/icon.svg" alt="AlmaLinux OS icon" class="mb-3" height="64">
                <div class="d-block mb-3">© 2023 AlmaLinux OS Foundation</div>
            </div>
            <div class="col-6 col-md">
                <h5>Certified</h5>
                <ul class="list-unstyled">
                    <li><a href="/certification">Certified Hardware List</a></li>
                    <li><a href="/certification-reports">Certification Reports</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Certify</h5>
                <ul class="list-unstyled">
                    <li><a href="/submit-new-hardware">Submit New Hardware</a></li>
                    <li><a href="/certification-guidelines">Certification Guidelines</a></li>
                    <li><a href="/certification-suite">Certification Suite</a></li>
                    <li><a href="/ship-hardware-to-alosf">Ship Hardware to ALOSF Labs</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="/contact-form">Contact Form</a></li>
                    <li><a href="/certification-sig">Certification SIG</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Authentication</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/orgs/AlmaLinux/projects/6" target="_blank">Certification SIG Board</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
