<style>
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/%3E%3C/svg%3E");
        border: none;
    }
    .navbar-dark .navbar-toggler {
        border-color: transparent;
        color: #faf5f5;
    }
    .navbar-toggler{
        border: 0px solid transparent;
    }
</style>
    <!-- This script adds conditional suffix to AlmaLinux logo "| Certification SIG"-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Define the CertSig paths - where the div should be populated
    const targetPaths = ["/certified/", "/certify/", "/get-cert-suite/", "/join-cert-sig/"];

    // Get the current path
    const currentPath = window.location.pathname;

    // Check if the current path matches any of the target paths
    if (targetPaths.includes(currentPath)) {
        // Select the div specific to logo suffix placeholder
        const divToPopulate = document.getElementById("CertSig_conditional_suffix");

        // Populate the div as needed
        divToPopulate.innerHTML = "<h4>| Certification SIG</h4>";
    }
});



</script>
<nav id="al-primary-navbar" class="al-primary-navbar navbar p-0 sticky-top navbar-expand-lg navbar-dark flex-column with-motd">

    <div class="container  my-3">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.svg" alt="AlmaLinux OS logo" width="165.93" height="32">
        </a><div id="CertSig_conditional_suffix" style="margin-top: 12px;"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="main-navbar">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " id="navbarDropResources" data-toggle="dropdown" aria-expanded="false" style="margin-top:5px">
                        {{ "Assets" }}
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start" aria-labelledby="navbarDropResources">
                        <li>
                            <a class="dropdown-item" href="https://wiki.almalinux.org/documentation/migration-guide" style="color:aliceblue">
                                {{ i18n "Migrate from CentOS 8" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://bugs.almalinux.org"style="color:aliceblue">
                                {{ i18n "Report Bugs" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ "/members" | relLangURL }}" style="color:aliceblue">
                                {{ i18n "Membership" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ "/elevate" | relLangURL }}" style="color:aliceblue">
                                ELevate
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://lists.almalinux.org/" style="color:aliceblue">
                                {{ i18n "Mailing Lists" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://openqa.almalinux.org/" style="color:aliceblue">
                                {{ i18n "openQA" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://build.almalinux.org/" style="color:aliceblue">
                                {{ i18n "Build System" }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ "/security" | relLangURL }}" style="color:aliceblue">
                                {{ i18n "Security" }}
                            </a>
                        </li>
                    </ul>
                </li>

        
                <li class="nav-item">
                    <a class="nav-link" href="https://wiki.almalinux.org/certification" style="margin-top:5px">
                        Certification Wiki
                    </a>
                </li>

         
                <li class="nav-item dropdown ps-md-2">
                    <button class="btn nav-link dropdown-toggle al-language-switch" id="navbarDropLanguages" data-toggle="dropdown" aria-expanded="false" style="margin-top:3px">
                        <img src="/images/lang.svg" alt="Language" width="24" height="24">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start" aria-labelledby="navbarDropLanguages">
                        {{ range $.AllTranslations }}
                        <li><a class='dropdown-item al-language-link {{if eq .Lang $.Lang}} active {{end}}' href='{{.RelPermalink}}' hreflang="{{$.Lang}}"> {{ .Language.LanguageName }} </a></li>
                        {{ end }}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="al-translate-callout">
                            <a class="dropdown-item al-language-link" href="https://hosted.weblate.org/engage/almalinux/">
                                <i class="bi bi-pencil"></i>
                                {{ i18n "Translate" }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ps-md-2">
                    <a class="nav-link btn btn al-download-button" href="{{ "/get-cert-suite" | absLangURL }}">
                        <i class="bi bi-download pe-1 d-none d-xl-inline"></i>
                        Certification Suite
                    </a>
                </li>
            </ul>
        </div>
    </div>


</nav>

<div id="al-motd" dir="ltr" data-nosnippet="" style="display: block; letter-spacing: 0px;">
    <div class="container pl-3">
        <i class="bi bi-info-circle"></i>
        <div class="text">{{ "Create an AlmaLinux account and join The HW Certification SIG to review the Program."  }} <a href="{{ "/join-cert-sig" }}">{{ i18n "Read more" }}</a></div>
    </div>
</div>
