{{ define "main" }}
    
    <section class="al-page-elevate-index">
        <div class="container">
            <div class="row al-py-lg align-items-center">
                <div class="col-12 col-lg-4 al-py-lg pe-md-3">
                    <h3 class="fw-bold pb-3">
                        Join the Hardware Certification SIG – Shape the Future of Certifications
                    </h3>
                    <div class="al-subtle-links pb-2">
                        <p>    
                            The AlmaLinux OS Foundation is actively developing the Hardware Certification SIG Program, and we're looking for passionate individuals to contribute to its evolution. 
                        <hr>
                            By joining the SIG, you can help shape the future of hardware certification for AlmaLinux OS, ensuring it continues to meet the needs of the community and industry partners.
                        </p>
                    </div>
                    <div>
                        <a href="https://accounts.almalinux.org"
                           class="btn al-cta-learn-how btn-md px-4 me-2">
                            <i class="bi bi-arrow-up-right-square pe-1"></i>
                            {{ i18n "Get Started" }}
                        </a>
                        <a href="https://chat.almalinux.org/almalinux/channels/certification"
                           class="btn al-cta-discuss btn-md px-4">
                            <i class="bi bi-chat-left-dots pe-1"></i>
                            {{ i18n "Discuss" }}
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div>
                         <img src="/images/ALOSF-HW-Cert-Program.png" style="height: 400px; width: 481px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2 elevate-container-wrap">
            <h6 class="pt-5 pb-2 mb-2 text-uppercase border-bottom">{{ i18n "Getting involved is simple" }}</h6>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 py-2 py-md-3">
                <div class="col d-flex align-items-stretch pl-0">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            Create an AlmaLinux Account
                        </h4>
                        <p>
                            Start by creating an account at <a href="https://accounts.almalinux.org">accounts.almalinux.org</a>. This will be your gateway to participating in various AlmaLinux Foundation activities.
                            
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-stretch  pl-0">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            Express Your Interest
                        </h4>
                        <p>
                            Let us know you're interested in joining the Hardware Certification SIG by reaching out through our Contact page. We welcome all community members who wish to contribute.
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-stretch pl-0">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            Join the Review Group
                        </h4>
                        <p>
                            Once you've established contact, we'll add you to our group of reviewers. Your insights will be invaluable in refining and enhancing the Certification Program.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2 faq-container elevate-container-wrap">
            <h6 class="pt-5 pb-2 mb-2 text-uppercase border-bottom">FAQ</h6>
            <div class="al-faq-slim">
                <!--Item-->
                <div>
                    <div class="question">
                        What is the purpose of ALOSF Certification SIG?
                    </div>
                    <div class="answer">
                        <p>The ALOSF Certification Special Interest Group (SIG) is dedicated to developing and maintaining the AlmaLinux Hardware Certification Program. 
                        </p>
                    </div>
                    <hr>
                    <div class="question">
                        What are the Key goals of the SIG?    
                    </div>
                    <div class="answer">
                       
                        <ul>
                            <li><b>Standard Development:</strong> Defining and refining rigorous hardware certification standards for AlmaLinux OS.</li>
                            <li><strong>Collaborative Testing:</strong> Overseeing collective testing efforts to ensure hardware compliance.</li>
                            <li><strong>Quality Assurance:</strong> Ensuring high-quality, reliable hardware for AlmaLinux OS.</li>
                            <li><strong>Community Engagement:</strong> Actively involving the community and aligning with user and developer needs.</li>
                            <li><strong>Vendor Liaison:</strong> Bridging the gap between hardware vendors and the AlmaLinux community.</li>
                            <li><strong>Resource Hub:</strong> Serving as a repository of knowledge and resources.</li>
                            <li><strong>Advocacy and Promotion:</strong> Promoting AlmaLinux OS adoption through certified hardware.</li>
                        </ul>    
                    </div>
                    <hr>
                    <div class="question">
                        What is the role of the SIG?    
                    </div>
                    <div class="answer">
                        <p>The ALOSF Certification SIG plays a vital role in improving AlmaLinux hardware compatibility and fostering a community-centric ecosystem.</p>
                    </div>
                    <hr>
                </div>
             
            </div>
        </div>
    </section>



{{ end }}
