{{ define "main" }}
<style>
@media (max-width: 1200px){
    .items__01 {
      word-wrap: break-word;
      display:flex;
      flex-direction: column;
    }
    .itemAl_02 {
      padding-left: 0px!important;
    }
    .AL {
      word-wrap: break-word;
      display:flex;
      flex-direction: column;
    }
}
</style>
<div class="al-body-container">
  <section class="al-page-elevate-index">
    <div class="container">
        <div class="row al-py-lg align-items-center">
          <div class="col-12 col-lg-8 al-py-lg pe-md-3">
            <h1 class="pb-2 text-center"></h1>
            <div class="Errata-container" style="display: flex; flex-direction: column; padding: 40px 20px;">
            
              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Certification - Quick Start</h2>
              <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:100%">
                <section>
                  <h2>Introduction: Elevate Your Hardware with AlmaLinux Certification</h2>
                  <p>Begin your hardware's certification journey with AlmaLinux to showcase its compatibility and performance. Engage with our Certification SIG on GitHub to manage your progress and collaborate with the community.
                  </p>
              
                  <h2>Begin Your Certification Today</h2>
                  <p>Empower your hardware with the strength of AlmaLinux OS. Start the certification process today by joining our project board on GitHub and becoming part of a network of esteemed vendors recognized for excellence.
                  </p>
                  <b>If you require assistance beyond what this page offers, please</b> <a href="/contact/">contact the AlmaLinux Certification SIG directly!</a>
                </section>
              </div>
              
              <hr>

              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Certification Options</h2>
              <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:100%">
                <section>
                  <h2>Certification Pathways: Choose Your Approach</h2>
                  <p>Our certification pathways cater to a variety of needs:
                    <ul>
                      <li><big>Community Engagement:</big> Engage with our team and community through the <a href="https://github.com/AlmaLinux/Hardware-Certification-Suite/discussions">AlmaLinux OS Foundation HW Certification program discussions</a> for a flexible and collaborative approach.</li>
                      <br>
                      <li><big>GitHub Project Board:</big> Collaborate and track your certification process through our <a href="https://github.com/orgs/AlmaLinux/projects/6">GitHub project board</a> 🔒 (Note: Access is private, request an invitation from the Certification SIG).</li>
                    </ul>
                  </p>
                </section>
              </div>
              <hr>
              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Special Interest Group</h2>
              <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:100%">
                <section>
                  <h2>The Certification SIG: A Collaborative Space</h2>
                  <p>Participation in the Certification SIG is open to the public. Join at any time to contribute to the development of certification standards and practices. We would love if you would create an AlmaLinux account, but that is optional.</p>
                    <a href="/join-cert-sig/">Join the Certification SIG</a>
             
                </section>
              </div>
              <hr>
              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Certification Deep Dive</h2>  
              <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:100%">
                <section>
                  <h2>More Details: Your Path to Certification</h2>
                  <p>Certification with AlmaLinux is a thorough process designed to ensure the highest standards of compatibility and performance. Engage with our GitHub project board to begin your journey, collaborating directly with the Certification SIG and community.</p>
                  <ul>
                    <li><big>Direct Communication:</big> Engage with the Certification SIG and community members on GitHub to discuss certification needs.</li>
                    <li><big>Submit Results:</big> Upload your test results to the GitHub project board for review.</li>
                    <li><big>Collaborative Testing:</big> Participate in community-driven testing efforts through GitHub.</li>
                  </ul>
<hr>
                  <h2>Preparing for Success: Pre-Certification Steps</h2>
                  <p>Before testing, complete the necessary pre-certification steps. Ensure all documentation is in order, and understand the collaborative process on GitHub. Our initial review sets the foundation for a successful certification process.</p>
<hr>
                  <h2>The Certification Journey: Testing to Trust</h2>
                  <p>Our certification testing phase is supported by hands-on QA, covering extensive areas to ensure your hardware is fully vetted for AlmaLinux OS, with collaboration and tracking through GitHub.</p>

                </section>
              </div>
              <hr>
              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Certification Results</h2>
              <div class="al-article-content pb-3 al-wysiwyg" style="padding: 0px!important;width:100%">
                <section>

                  <h2>Beyond Testing: Certification Labs and Listing</h2>
                  <p>Upon successful completion of the testing phase, your hardware will be featured on the ALOSF Certified Hardware list. 
                    <BR><BR> This achievement not only showcases your hardware's compatibility but also grants your organization the privilege of using the term <big> <strong> AlmaLinux Certified </strong></big> to highlight this compatibility.</p>
                  <p>Our collaborative efforts on GitHub are a testament to our dedication to upholding high-quality standards in the AlmaLinux community.</p>
                  
                </section>
              </div>
            </div>
          </div>       
          <div class="col-12 col-lg-4" style="vertical-align: top; align-self: flex-start;">
            <section>
              <img src="/images/CERT_ICON.png" width="100%">
              <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Certification Spotlight</h2>
              <h5>
              <img src="/images/CERT_ICON.png" width="10%"> <a href="/amd-ryzen-may2022/">AMD Ryzen™ Processor Certified</a>
             </h5>
             <h5>
              <img src="/images/CERT_ICON.png" width="10%"> <a href="/amd-ryzen-may2022/">Intel Xeon™ Processor Certified</a>
             </h5>
             
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>

{{ end }}
