{{ define "main" }}
<style>
    @media (max-width: 1200px) {
        .items__01 {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
        .itemAl_02 {
            padding-left: 0px !important;
        }
        .AL {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
    }

    /* Additional styles for the contact form */
    .contact-form-container {
        width: 60%;
        margin: 0 auto;
    }
</style>

<div class="al-body-container">
    <section class="al-page-index">
        <div class="al-index-community-container">
            <div class="al-index-meet" style="background: #0e3b5c;">

                <div class="container al-py-md" style="padding: 0px 100px 100px 40px;">
                  <h1 style="font-size: 80px; text-align: center; letter-spacing: 0.80px; font-weight: 500;">
                   Certification SIG Members
                  </h1>
                  <div style="text-align: center; line-height: 28px; word-wrap: break-word;">
                    <h3 style="margin-bottom: 20px;">
                      Cross-Industry Technology Specialists
                    </h3>
                  </div>
                  <div class="container-speakers" style="display: flex; justify-content: center; flex-wrap: wrap;">
          <!-- speaker one -->
                   
          <div class="item-headshot" style="width: 25%; align-items: center; padding: 20px 20px;">
            <div class="item-speakers" style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/users/sjohn.png" alt="Simon John" style="max-width: 80px;">
              </span>
              <div style="display: flex; flex-direction: column; text-align: center;">
                <p>Simon John</p>
                <span class="small text-uppercase mb-1">Security Standards Architect</span>
                <span class="small fw-light">CloudLinux</span>
              </div>
            </div>
          </div>
                                                                                                                                                          
            <!-- speaker two -->
            <div class="item-headshot" style="width: 25%; align-items: center; padding: 20px 20px;">
            <div class="item-speakers" style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/users/akitsu.png" alt="Akitsu Izawa" style="max-width: 88px;">
                </span>
                <div style="display: flex; flex-direction: column; text-align: center;">
                <p>Akitsu Izawa</p>
                <span class="small text-uppercase mb-1">Manager</span>
                <span class="small fw-light">Cybertrust Japan Co., Ltd.</span>
                </div>
            </div>
            </div>
            <!-- speaker three -->
            <div class="item-headshot" style="width: 25%; align-items: center; padding: 20px 20px;">
            <div class="item-speakers" style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/users/asaka.jpg" alt="Asaka Matsumoto" style="max-width: 80px;">
                </span>
                <div style="display: flex; flex-direction: column; text-align: center;">
                <p>Asaka Matsumoto</p>
                <span class="small text-uppercase mb-1">Security SW Engineer</span>
                <span class="small fw-light">Cybertrust Japan Co., Ltd.</span>
                </div>
            </div>
            </div>
            <!-- speaker four -->
            <div class="item-headshot" style="width: 25%; align-items: center; padding: 20px 20px;">
            <div class="item-speakers" style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/users/danielblack.jpg" alt="Daniel Black" style="max-width: 80px;">
                </span>
                <div style="display: flex; flex-direction: column; text-align: center;">
                <p>Daniel Black</p>
                 <span class="small text-uppercase mb-1">Chief Innovation Officer</span>
                 <span class="small fw-light">MariaDB Foundation</span>
               </div>
             </div>
           </div>
 <!-- speaker five -->

 <div class="item-headshot" style="width: 25%; align-items: center; padding: 20px 20px;">
  <div class="item-speakers" style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
      <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/users/pawel.jpg" alt="Pawel Suchanecki" style="max-width: 80px;">
    </span>
    <div style="display: flex; flex-direction: column; text-align: center;">
      <p>Pawel Suchanecki</p>
      <span class="small text-uppercase mb-1">Certification SIG LEAD</span>
      <span class="small fw-light">AlmaLinux OS Foundation</span>
    </div>
  </div>
</div>

        

                     </div>
                     <!-- /speaker container -->
                   </div>
                   <!-- /this specific row -->
                   </div>

                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}