{{ define "main" }}
<style>
    @media (max-width: 1200px) {
        .items__01 {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
        .itemAl_02 {
            padding-left: 0px !important;
        }
        .AL {
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
        }
    }

    /* Additional styles for the contact form */
    .contact-form-container {
        width: 60%;
        margin: 0 auto;
    }

    p {
        line-height: 2.0; /* or your preferred value */
        size: 16px;
    }

    h2 {
        border-bottom-color: #14598a!important; 
        font-weight: 500; 
        font-size: 35px;
    }
</style>

<div class="al-body-container">
    <section class="al-page-index">
        <div class="al-index-community-container">
            <div class="container al-py-lg">
                <h2 class="pb- text-center border-bottom">Connect with Certification SIG</h2>
                <div class="contact-form-container" >
                    <p>We understand the importance of smooth certification processes and clear communication. Whether you have a question about hardware certification, need guidance on getting started, or just want to chat about the possibilities, our team is ready to assist you.</p>
                </div>
                <br><br>
                <h2 class="pb-2 text-center border-bottom">Meet Our SIG Members</h2>
                <div class="contact-form-container">
                    <p>Explore the diverse expertise and backgrounds of our SIG members. Visit the <a href="/certification/sig-members/" target="_blank">SIG Members Page</a> to learn more about the team driving our certification initiatives.</p>
                </div>
                <br><br>
                <h2 class="pb-2 text-center border-bottom">Contact Us</h2>
                <div class="contact-form-container">
                    <p>We prefer real-time communication via the Mattermost channel <a href="https://chat.almalinux.org/almalinux/channels/certification" target="_blank"><code>#certification</code></a> on <a href="https://chat.almalinux.org/" target="_blank">chat.almalinux.org</a>. This channel is suitable for most cases and offers quick responses.</p>
                    <p>Feel free to use the form below for asynchronous communication. It's an excellent option for any action related to AlmaLinux OS Foundation Certification SIG. We'll get back to you as soon as possible.</p>
                    <br><br>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeOuFLyKPqHWfoIIbSJQHAHrVSgnor6Pq3imE_8GYsqoCg3yw/viewform?embedded=true" width="780" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}